// Reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Styles

body {
  font-family: sans-serif;
}

.container {
  display: grid;
  position: absolute;
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr;
  width: 100%;
  height: 100%;

  &__area-sidebar {
    grid-area: sidebar;
  }

  &__area-navbar {
    grid-area: navbar;
    z-index: 10;
  }

  &__area-content {
    background: #EEF0F6;
    position: relative;
    grid-area: content;
    overflow-y: scroll;
  }
}

.nav {
  background: #ffffff;
  border-bottom: solid 1px #dadce9;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
  font-family: SourceSansPro-Bold;
  font-size: 29px;
  color: #393c51;
  letter-spacing: -1.86px;
  line-height: 50px;
  height: 50px;
  padding: 0 10px;
}

.sidebar {
  background: #FFFFFF;
  height: 100%;
  border-right: solid 1px #DADCE9;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  &__item {
    height: 40px;
    line-height: 40px;
    user-select: none;
    color: #393C51;
    outline: none;
    padding: 0 10px;

    &_active {
      background: #F6F7FC;
      color: #393C51;
      font-weight: bold;
      padding-left: 5px;
      border-left: 5px solid #393C51;
    }
  }
}
