<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="card">
        <div class="card-body">
          <h1>Previous Analysis</h1>
          <div *ngFor="let siteurl of ['https://wikipedia.org', 'https://google.com', 'https://yahoo.com','https://wikipedia.org', 'https://google.com', 'https://yahoo.com']">
            <div class="row d-flex align-items-center mt-3 mb-3">
              <div class="col" style="max-width: 200px;">
                <img src="./assets/image-placeholder.png" style="width: 100%;">
              </div>
              <div class="col">
                <table>
                  <tr>
                    <td class="font-weight-bold" style="width: 150px;">URL</td>
                    <td>{{siteurl}}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Score</td>
                    <td>95</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Date of Analysis</td>
                    <td>10:58 - 12 April 2020</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
