<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="card">
        <div class="card-body">
          <h1>Previous Analysis</h1>
          <hr>
          <div
            *ngFor="let analysis of analyses">
            <div class="row mt-3 mb-3">
              <div class="col">
                <div class="card" [routerLink]="'/analysis-result'" [queryParams]="{q: analysis.id}">
                  <div class="card-body">
                    <div class="row d-flex align-items-center">
                      <div class="col" style="max-width: 200px;">
                        <img src="./assets/image-placeholder.png" style="width: 100%;">
                      </div>
                      <div class="col">
                        <table>
                          <tr>
                            <td class="font-weight-bold" style="width: 150px;">URL</td>
                            <td>{{ analysis.url }}</td>
                          </tr>
                          <tr>
                            <td class="font-weight-bold">Score</td>
                            <td>-</td>
                          </tr>
                          <tr>
                            <td class="font-weight-bold">Date of Analysis</td>
                            <td>{{ analysis.date }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
