<div class="search-widget">
  <img class="search-widget__image" src="./assets/phone-and-laptop.svg">
  <div class="search-widget__title">Analyze Website Design</div>
  <form action="/analysis-result">
    <div class="search-widget__form-row">
      <div class="search-widget__form-item">
        <div class="search-widget__form-label">URL</div>
        <input type="text" name="url">
      </div>
      <div class="search-widget__form-item">
        <div class="search-widget__form-label">Screen Size</div>
        <select name="size">
          <option value="1024x768">1024x768 (Desktop)</option>
        </select>
      </div>
    </div>
    <div class="search-widget__form-row">
      <div class="search-widget__form-item">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
