<div class="sw-searchWidget">
  <img class="sw-searchWidget-image" src="./assets/phone-and-laptop.svg">
  <div class="sw-searchWidget-title">Check Your Website Design</div>
  <form (ngSubmit)="onSubmit(url.value, size.value)">
    <div class="sw-searchWidget-formRow">
      <div class="sw-searchWidget-formItem">
        <div class="sw-searchWidget-formLabel">URL</div>
        <input #url name="url" type="text">
      </div>
      <div class="sw-searchWidget-formItem">
        <div class="sw-searchWidget-formLabel">Screen Size</div>
        <select #size name="size">
          <option value="1024x768">1024x768 (Desktop)</option>
        </select>
      </div>
    </div>
    <div class="sw-searchWidget-formRow">
      <div class="sw-searchWidget-formItem">
        <input type="submit" value="Analyze">
      </div>
    </div>
  </form>
</div>
