<div class="sw-searchWidget">
  <img class="sw-searchWidget_image" src="./assets/phone-and-laptop.svg">
  <div class="sw-searchWidget_title">Analyze Website Design</div>
  <form action="/analysis-result">
    <div class="sw-searchWidget_formRow">
      <div class="sw-searchWidget_formItem">
        <div class="sw-searchWidget_formLabel">URL</div>
        <input type="text" name="url">
      </div>
      <div class="sw-searchWidget_formItem">
        <div class="sw-searchWidget_formLabel">Screen Size</div>
        <select name="size">
          <option value="1024x768">1024x768 (Desktop)</option>
        </select>
      </div>
    </div>
    <div class="sw-searchWidget_formRow">
      <div class="sw-searchWidget_formItem">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
