<div class="sw-container" [class.sw-container_noSidebar]="!isLoggedIn">
    <div class="sw-container-areaNavbar">
        <div class="sw-nav">
          <div class="sw-nav-title">Smart Web Design Scraper</div>
          <div class="sw-nav-middle"></div>
          <div class="sw-nav-username" *ngIf="isLoggedIn">Hello, {{ username }}!</div>
          <div class="sw-nav-log" *ngIf="isLoggedIn">
              <a (click)="logout()" class="sw-link">Log Out</a>
          </div>
        </div>
    </div>
    <div class="sw-container-areaSidebar">
        <div class="sw-sidebar" *ngIf="isLoggedIn">
            <div class="sw-sidebar-item" routerLink="/home" routerLinkActive="sw-sidebar-item_active">Home</div>
            <div class="sw-sidebar-item" routerLink="/previous-analysis" routerLinkActive="sw-sidebar-item_active">Previous Analysis</div>
            <div class="sw-sidebar-item" routerLink="/preferences" routerLinkActive="sw-sidebar-item_active">Preferences</div>
        </div>
    </div>
    <div class="sw-container-areaContent">
        <router-outlet></router-outlet>
    </div>
</div>
