.text-1 {
    font-size: 20px;
}

.text-2 {
    font-size: 12px;
}

.text-3 {
    font-size: 10px;
}

.text-4 {
    font-size: 8px;
}

.col {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}